.form-control {
    display: flex;
    margin: 10px 0;
}
.form {
    display: flex;
    flex-wrap: wrap;
}
.label {
    margin: auto 10px;
    display: inline-block;
    width: 25%;
    text-align: right;
}
.layout-1 {
    flex-basis: 100%;
}
.layout-2 {
    flex-basis: 50%;
}
.layout-3 {
    flex-basis: 33%;
}
.layout-4 {
    flex-basis: 25%;
}