@import './form-control';
@import './grid';

@footerColor: #ccc;
@headerColor: #fff;

body {
    height: 100%;
    #app {
        height: 100%;
    }
}
.header-title {
    font-size: 2em;
    color: @headerColor;
    margin: auto;
    float: left;
}
.header-userInfo {
    font-size: 1.3em;
    float: right;
    color: @headerColor
}
.sider-menu {
    height: 100%;
    .menu-list {
        height: 100%;
    }
}
.page-footer {
    height: 20px;
    background: @footerColor !important;
    text-align: center;
}
.code {
    background: #000;
}
code {
    color: #fff
}
.login-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    transform: translateY(50%);
    padding: 10px;
    justify-content: center;
    border: 1px #ccc solid;
    box-shadow: 0 0 5px #000 ;
    border-radius: 5px;
}
.form-title {
    font-size: 1.5em
}
.submit-button {
    width: 75px;
    margin: 0 auto
}